$button_bg: linear-gradient(270deg, #50E3C2 0%, #B8E986 100%);
$light_text: #fff;
$dark_text: #323237;
$btn_text: #484D85;
$subtitle: #292B3C;
$best-icon-color: #5860B0;
$star-color:#EFCE4A;
$stages-bg: #fff;
$footer-bg: #353649;