@import url(../css/normalize.css),
url(../css/icomoon.css),
url(../css/stylesheet.css),
'variables',
'components',
'sections';
.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header {
    margin-bottom: 80px;
}

body {
    font-family: 'Museo Sans Cyrl 500', sans-serif;
    width: 100vw;
}